
{{#each users}}
	<div class="row" id="mainthumb">
		<div class="" id="{{{@key}}}">
			<div class="thumbnail">

			 	<img src="{{profile}}" alt="...">

				<div class="caption">
					<h3>Name: {{ dogName }}</h3>
					<section>About Me: {{ aboutMe }}</section>
					<section>Breed: {{ breed }}</section>
					<section>Gender: {{ doggender }}</section>
					<section>Owner Gender: {{ usergender }}</section>
					<section>Email Me: {{ email }}</section>
					<p><a href="#" class="btn btn-primary btn-sm" role="button">Favorite</a></p>
				</div>
			</div>
		</div>
	</div>
{{/each}}
		